---
---
// variables
$pia-text-color: #30882f

// styles
#header .brand
    top: 0.2rem
    position: relative
    font-size: 2rem
    color: $pia-text-color

#mainlogo
    max-width: 25rem
    margin-right: 1rem

#navigation li.nav-header
    margin-top: 1rem
    padding: 1rem 1.2rem
    border-radius: 0.75rem 0.75rem 0.2rem 0.2rem
    background: $pia-text-color
    color: #fff
    text-shadow: none

#navigation li a
    padding: 1rem 2rem
    color: $pia-text-color

.pagelogo
    display: block
    margin: 1rem auto
    max-width: 50%

.disclaimer
    margin: 2rem 0
    padding: 1.2rem 1.3rem
    border-radius: 1rem
    background: #d54
    color: #fff
    text-shadow: none

h1
    text-align: center
    font-size: 2.3rem

video
    max-width: 100%
    max-height: 100%
