<ul class="nav nav-list">
    <li><a href="{{ site.baseurl }}/">Home</a></li>
</ul>

<div id="navlists">
{% for collection in site.collections %}

{% capture collection_index_url %}{% for page in collection.docs %}{% if page.is_index %}{% if page.incomplete %}{% else %}{{ page.url }}{% endif %}{% endif %}{% endfor %}{% endcapture %}

<ul class="nav nav-list section" data-order="{% if collection.order %}{{ collection.order }}{% else %}1{% endif %}">
    {% for page in collection.docs %}
        {% if page.is_index %}{% else %}
        {% if forloop.first and collection.display %}
            <li class="nav-header">
                {% if collection_index_url != "" %}
                    <a href="{{ site.baseurl }}{{ collection_index_url }}">{{ collection.display }}</a>
                {% else %}
                    <span>{{ collection.display }}</span>
                {% endif %}
            </li>
        {% endif %}
        <li data-order="{% if page.order %}{{ page.order }}{% else %}1{% endif %}">{% if page.incomplete %}<span class="incomplete">{{ page.title }}</span>{% else %}<a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a>{% endif %}</li>
        {% endif %}
    {% endfor %}
    </ul>
{% endfor %}
</div>
