<ul class="nav nav-list">
    <li><a href="{{ site.baseurl }}/">Home</a></li>
</ul>

<div id="navlists">
{% for collection in site.collections %}
<ul class="nav nav-list section" data-order="{% if collection.order %}{{ collection.order }}{% else %}1{% endif %}">
    {% for page in collection.docs %}
        {% if forloop.first and collection.display %}
            <li class="nav-header">{{ collection.display }}</li>
        {% endif %}
        <li data-order="{% if page.order %}{{ page.order }}{% else %}1{% endif %}"><a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a></li>
    {% endfor %}
    </ul>
{% endfor %}
</div>
