<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width">

        <title>{% if page.title %}{{ page.title }} : {% endif %}{{ site.title }}</title>
        <meta name="description" content="{{ site.subtitle }}">

        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="{{ site.baseurl }}/css/materialdesignicons.css">
        <link rel="stylesheet" href="{{ site.baseurl }}/css/syntax.css">
        <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">
        <link rel="stylesheet" href="{{ site.baseurl }}/css/pia.css">
    </head>
    <body>

        <div class="container">
            <div class="row">
                <div id="header" class="col-sm-12">
                    {% include header.html %}
                </div>
            </div>

            <div class="row">
                {% assign doc_count = site.collections|size %}
                {% if site.navigation != 0 and site.navigation == 1 or doc_count > 0 %}
                    <div id="navigation" class="col-sm-2">
                        {% include navigation.html %}
                    </div>

                    <div id="content" class="col-sm-10">
                        {{ content }}
                    </div>
                {% else %}
                    <div id="content" class="col-sm-12">
                        {{ content }}
                    </div>
                {% endif %}
            </div>

            {% if page.disqus == 1 %}
            <div class="row">
              {% if site.navigation == 1 or doc_count > 0 %}
                <div id="navigation" class="col-sm-2"></div>
                <div id="disqus" class="col-sm-10">
                    {% include disqus.html %}
                </div>
              {% else %}
                <div id="disqus" class="col-sm-12">
                    {% include disqus.html %}
                </div>
              {% endif %}
            </div>
            {% endif %}

            <div class="row">
                <div id="footer" class="col-sm-12">
                    {% include footer.html %}
                </div>
            </div>
        </div>

        <script>
            function orderNav() {
                var navLists = document.querySelectorAll('#navlists')[0]
                if (!navLists) return;

                var navSections = [],
                    navHTML = "";

                // sort nav sections
                for (var i = 0; i < navLists.children.length; i++) {
                    var order, ul = navLists.children[i];

                    order = parseFloat(ul.getAttribute('data-order'))
                    navSections.push([order, ul])
                }

                navSections = navSections.sort(function(a, b) {
                    return a[0] - b[0]
                });

                // sort items, then assemble and apply html
                for (var i = 0; i < navSections.length; i++) {
                    // sort items in section
                    var navItems = [],
                        navSectionHTML = "";
                    for (var j = 0; j < navSections[i][1].children.length; j++) {
                        var order, ul = navSections[i][1].children[j];

                        order = parseFloat(ul.getAttribute('data-order'))
                        navItems.push([order, ul])
                    }

                    navItems = navItems.sort(function(a, b) {
                        return a[0] - b[0]
                    });

                    // assemble and apply HTML
                    for (var j = 0; j < navItems.length; j++) {
                        navSectionHTML += navItems[j][1].outerHTML;
                    }

                    navSections[i][1].innerHTML = navSectionHTML
                    navHTML += navSections[i][1].outerHTML;
                }

                navLists.innerHTML = navHTML;
            }

            if (document.querySelectorAll) orderNav();
        </script>
        {% if site.google_analytics_id != "" %}
        {% include google_analytics.html %}
        {% endif %}
    </body>
</html>
